body {
  margin: 0px;
  padding: 0px;
  background-color: #070419;
  color: white;
}

.container {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  font-family: "Poppins";
}

h5 {
  color: grey;
  font-weight: 500;
  font-size: 14px;
}

input {
  border: none;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  width: 15rem;
}

input[type="number"] {
  width: 3rem;
}

p {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.coloured {
  color: rgb(87, 110, 255);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.row > h5 {
  margin-left: 0.5rem;
}

.row-elements {
  width: 50%;
}
.justify-space {
  justify-content: space-between;
}

.binary {
  font-family: "Inconsolata";
  font-weight: 300;
  font-size: 12px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(41, 41, 41);
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.icon-button {
  border: none;
  border-radius: 3rem;
  background-color: transparent;
  color: white;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 1s ease;
}

.icon-button:hover {
  background-color: rgb(48, 134, 255);
}

/*--------------------*/

.rangeContainer {
  /* padding: 1rem; */
  position: relative;
}
.rangeContainer > input {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #3d1bd221;
  border: 1px #3d1bd2 solid;
  border-radius: 3rem;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  border-radius: 3rem;
}

.rangeContainer > span {
  position: absolute;
  z-index: -2;
  left: 0;
  height: 1rem;
  min-width: 1rem;
  background-color: rgb(18, 188, 250);
  border-radius: 3rem;
  box-shadow: inset 14px 14px 28px #574de7, inset -14px -14px 28px #99ddff;
}

header {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  height: 3rem;
}
.logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

header > h1 {
  text-align: center;
  font-size: 15px;
  font-family: "Inconsolata";
}
/* ---------------*/

header {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2rem;
  height: 3rem;
}
.logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

header > h1 {
  text-align: center;
  font-size: 15px;
  font-family: "Inconsolata";
}

/*-----------------*/

@media screen and (min-width: 800px) {
  .container {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 0px;
  }

  header > h1 {
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
  }

  .logo {
    max-width: 3rem;
  }

  header {
    padding: 0.5rem;
    width: 50vw;
  }
}
